@import "../abstracts/mixins";

*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    /* 1 rem = 10 px      10px/16px = 62.5%*/
    font-size: 62.5%;
    //此处排序应大至小 不然会被覆盖
    @include respond(big-desktop){
        font-size: 75%;
    }
    @include respond(tab-land){
        font-size: 56.25%;
    }
    @include respond(tab-port){
        font-size: 50%;
    }
    @include respond(phone){
        font-size: 30%;
    }


}
body{
    box-sizing: border-box;
}